.c0{
    background-color: #60a6f1;
    /* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
  } 
  /* Style the images inside the grid */

  
  .column img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The expanding image container (positioning is needed to position the close button and the text) */
  .container {
    position: relative;
    display: none;
  }
  
  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: rgb(13, 13, 13);
    font-size: 20px;
  }
  
  /* Closable button inside the image */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: rgb(4, 4, 4);
    font-size: 35px;
    cursor: pointer;
  }
}
.c1{
  background-color: aquamarine;
  border: 1px dashed #000;
  .titulo{
    border: 1px dashed #000;
    font-family: "Petit Formal Script", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
  }
  .card00{
    border: 1px dashed #000;
      font-family: "Quicksand", sans-serif;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
    }
  }
.c2{
  background-color: #60a6f1;
  border: 1px dashed #000;
  .card0{
    border: 1px dashed #000;
    font-family: "Quicksand", sans-serif;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
  }
}
.c3{
  background-color: rgb(193, 169, 220);
  border: 1px dashed #000;
  .col1{
    border: 1px dashed #000;
  }
  .card1{
    background-color: rgb(235, 163, 248);
    border: 1px dashed #000;
    font-family: "Quicksand", sans-serif;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
  }
  .col2{
    border: 1px dashed #000;
  }
  .card2{
    background-color: rgb(236, 172, 214);
    font-family: "Quicksand", sans-serif;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
  }
}
.c4{
  background-color: rgb(249, 176, 4);
  .col3{
    border: 1px dashed #000;
  }
  .card3{
    background-color: antiquewhite;
    font-family: "Quicksand", sans-serif;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
  }
  .col4{
    border: 1px dashed #000;
  }
  .card4{
    background-color: antiquewhite;
    font-family: "Quicksand", sans-serif;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
  }
}
.c5 {
  background-color: rgb(184, 213, 137);
  .col5{
    border: 1px dashed #000;
  }
  .card5{
    background-color: rgb(249, 250, 247);
    font-family: "Quicksand", sans-serif;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
  }
  .col6{
    border: 1px dashed #000;
  }
  .card6{
    background-color: beige;
    font-family: "Quicksand", sans-serif;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
  }}
