.c0{
  background-color: #60a6f1;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

.c1{
  background-color: #60a6f1;
    font-family: "Montserrat", sans-serif;
    font-size:x-large;
    font-weight: 400;
    color: black;
}

.c2{
  background-color: #F0F0F0;
  /* The grid: Four equal columns that floats next to each other */
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: black;
.column {
  float: left;
  width: 25%;
  padding: 10px;
}
/* Style the images inside the grid */
.column img {
  opacity: 0.8;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.container {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: rgb(0, 0, 0);
  font-size: 35px;
  cursor: pointer;
}
}
.c3{
  background-color: #F0F0F0;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: black;
}
.c4{
  background-color: #F0F0F0;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: black;
}
.c5{
  background-color:  #b2bcc4;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: black;
.btn-primary-custom{
  background-color: #06bea6 !important;
  border-color: #06bea6  !important;
}
.textoexpa{
 display: none;
}
  }
.c6{
  background-color:  #F0F0F0;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: black;
  .btn-primary-custom{
  background-color:  #06bea6  !important;
  border-color:  #06bea6 !important;
}
.btn-custom {
  background-color: #ffffff; /* Fondo blanco */
  color: #06bea6 ; /* Color de las estrellas (verde) */
  border-color: #ffffff; /* Borde blanco */
}

.btn-custom .bi-star-fill {
  color: #06bea6 ; /* Color de las estrellas (verde) */
}
}
.c7{
  background-color: #F0F0F0;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: black;}
.btn-primary-custom{
  background-color:  #06bea6  !important;
  border-color:  #06bea6  !important;
  }
.btn-primary-custom{
  background-color: #f9efeffc; /* Fondo blanco */
  color:  #06bea6  /* Color de las estrellas (verde) */
  border-color #06bea6 /* Borde blanco */
  }
  
.btn-custom .bi-star-fill {
  color:  #06bea6  /* Color de las estrellas (verde) */
  } 
.c8{
  /* Estilo del botón flotante de WhatsApp */
.whatsapp-button {
  position: fixed;
  bottom: 20px; /* Distancia desde el fondo de la pantalla */
  right: 45px; /* Distancia desde el borde derecho de la pantalla */
  width: 60px; /* Ancho del botón */
  height: 60px; /* Alto del botón */
  background-color: #25D366; /* Color de fondo del botón (verde de WhatsApp) */
  border-radius: 50%; /* Hace que el botón sea redondo */
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2); /* Sombra del botón */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Asegura que el botón esté encima de otros elementos */
  text-decoration: none; /* Elimina el subrayado del enlace */
}

/* Estilo adicional para el icono, si es necesario */
.whatsapp-button i {
  color: #fff; /* Color del icono dentro del botón */
}
}
.c9{
  background-color: #F0F0F0;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: black;
/* Estilos para el mensaje de cookies */
.cookie-message {
  position: fixed;
  bottom: 90px;
  left: 20px;
  width: 95%;
  background-color: #93e1e1 ;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.cookie-message p {
  margin: 0;
}
.cookie-close {
  float: right;
  cursor: pointer;
}
}
.c10{
background-color: white;
font-family: "Roboto", sans-serif;
font-weight: 100;
  color: black;
}


/*Galería*/
/* The grid: Four equal columns that floats next to each other */
.column-gallery {
float: left;
width: 25%;
padding: 10px;
}

/* Style the images inside the grid */
.column-gallery img {
opacity: 0.8;
cursor: pointer;
}

.column-gallery img:hover {
opacity: 1;
}

/* Clear floats after the columns */
.row-gallery:after {
content: "";
display: table;
clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.container-gallery {
position: relative;
display: block;
}

/* Expanding image text */
#imgtext {
position: absolute;
bottom: 15px;
left: 15px;
color: white;
font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
position: absolute;
top: 10px;
right: 15px;
color: white;
font-size: 35px;
cursor: pointer;
}

.column-gallery > img {
max-width: 50px;
} 

/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
.column-gallery > img {
  max-width: 100px;
} 
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

}