.c0{
    background-color: #F0F0F0;
    /* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
  } 
  /* Style the images inside the grid */

  
  .column img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The expanding image container (positioning is needed to position the close button and the text) */
  .container {
    position: relative;
    display: none;
  }
  
  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: rgb(13, 13, 13);
    font-size: 20px;
  }
  
  /* Closable button inside the image */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: rgb(4, 4, 4);
    font-size: 35px;
    cursor: pointer;
  }
}
.c1{
    background-color: #ef0303;

}
.c2{
    background-color: #edf500;
    /* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  
  /* Style the images inside the grid */
  .column img {
    opacity: 0.8;
    cursor: pointer;
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The expanding image container (positioning is needed to position the close button and the text) */
  .container {
    position: relative;
    display: none;
  }
  
  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }
  
  /* Closable button inside the image */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: rgb(0, 0, 0);
    font-size: 35px;
    cursor: pointer;
  }
}
.c3{
    background-color: #02b5f1;
}
.c4{
    background-color: #dc9ce1;
}
.c5{
    background-color: #aae2be;
    .btn-primary-custom{
        background-color: #32CD32 !important;
        border-color: #32CD32 !important;
    }
    .btn-custom {
        background-color: #f9efeffc; /* Fondo blanco */
        color: #32CD32; /* Color de las estrellas (verde) */
        border-color: #ffffff; /* Borde blanco */
    }
    
    .btn-custom .bi-star-fill {
        color: #32CD32; /* Color de las estrellas (verde) */
    }
    }
.c6{
    background-color: #ff6d6d;
    .btn-primary-custom{
    background-color: #32CD32 !important;
    border-color: #32CD32 !important;
}
.btn-custom {
    background-color: #ffffff; /* Fondo blanco */
    color: #32CD32; /* Color de las estrellas (verde) */
    border-color: #ffffff; /* Borde blanco */
}

.btn-custom .bi-star-fill {
    color: #32CD32; /* Color de las estrellas (verde) */
}
}
.c7{
    background-color: #757ae3;
    .btn-primary-custom{
        background-color: #32CD32 !important;
        border-color: #32CD32 !important;
    }
    .btn-custom {
        background-color: #f9efeffc; /* Fondo blanco */
        color: #32CD32; /* Color de las estrellas (verde) */
        border-color: #ffffff; /* Borde blanco */
    }
    
    .btn-custom .bi-star-fill {
        color: #32CD32; /* Color de las estrellas (verde) */
    } 
}
.c8{
    position: fixed;  
    background-color: #56eae3;
    bottom: 20px;
    right: 40px;
    width: 300px; /* Ancho del contenedor de chat */
    max-width: calc(100vw - 40px); /* Ancho máximo para evitar que se desborde */
    z-index: 999;
    border-radius: 10px; /* Añadir bordes redondeados para mejorar el aspecto */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Añadir sombra para resaltar el contenedor */
}
.chat-popup {
    position: relative;
    border: 3px solid #f1f1f1;
    z-index: 9;
    background-color: white; /* Añadimos un color de fondo */
    padding: 20px; /* Añadimos espacio interno */
    max-width: 300px; /* Ajustamos el ancho máximo */
  }
.form-container {
    width: 100%
  }
.form-container textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 5px 0 10px 0;
    border: none;
    background: #f1f1f1;
  }
.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
  }
  .form-container .cancel {
    background-color: red;
  }

  .form-container .btn:hover,
  .open-button:hover {
      opacity: 1;
  }
.c9{
    background-color: #ff6d6d;
}
.c10{
  background-color: grey;
}